#h1 {
    font-family: 'Luckiest Guy', cursive;
    color: palevioletred;
    font-size: 3em;
    text-align: center;
}
.topnav {
    background-color: palevioletred;
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    text-align: center;
    word-spacing: 2em;
    letter-spacing: .25em;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: purple;
}
a:active {
    text-decoration: none;
    color: purple;
}
.container img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    opacity: 0.8;
}
.container2 {
    border: 3px solid purple;
    padding: 15px;
    background-color: palevioletred;
    opacity: 0.8;
}
#h3 {
    font-family: 'Staatliches', cursive;
    color: purple;
    font-size: 2em;
    text-align: center;
    letter-spacing: .25em;
    margin-bottom: -6px;
}
.container2 p {
    font-family: cursive;
    font-size: 2em;
    color: white;
}
.footer {
    color: purple;
    font-family: cursive;
    font-size: .5em;
    text-align: left;
}
#header {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(63, 129, 252);
    font-size: 2.5em;
    margin-bottom: -6px;
}
.form {
    border: 1px solid purple;
    width: 50%;
    align-content: center;
    padding: 10px;
}
input {
    width: 100;
}
.label {
    color: purple;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
}
.container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 70px;
}
#one, #two {
    border: 3px solid purple;
    font-family: cursive;
    font-size: 1em;
    padding: 20px;
    width: 500px;
    text-align: center;
}
.container4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
#p1 {
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 1em;
    padding-top: 0%;
    margin-top: 0%;
}
.container4 p {
    font-family: cursive;
    font-size: 1.2em;
    padding-top: 0%;
    margin-top: 0%;
}
#h2 {
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    color: purple;
    letter-spacing: .25em;
    margin-bottom: -6px;
}
#three, #four, #five, #six, #seven {
    text-align: center;
}
.cheeseimg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    opacity: 0.8;
}
@media screen and (max-width: 800px) {
    .container img {
         display: 100%;
    }
    .cheeseimg {
        display: 100%;
    }
    .topnav {
        overflow: hidden;
        float: none;
        width: auto;
    }
       #one, #two {
            width: 100%;
            float: none;
            padding: 0px;
        }
    }
    @media screen and (min-width: 270px) {
    #h1 {
        display: 100%;
    }
    .topnav {
        display: 100%;
    }
    }
