#h1 {
    font-family: 'Luckiest Guy', cursive;
    color: palevioletred;
    font-size: 3em;
}
.topnav {
    background-color: palevioletred;
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    text-align: center;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: purple;
}
a:active {
    text-decoration: none;
    color: purple;
}
.container img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.container .hpbutton {
    position: relative;
    float: center;
    top: 50%;
    left: 50%;
    background-color: purple;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1.4em;
    padding: 5px 5px; 
}
