#h1 {
    font-family: 'Luckiest Guy', cursive;
    color: palevioletred;
    font-size: 3em;
}
.topnav {
    background-color: palevioletred;
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    text-align: center;
    word-spacing: 2em;
    letter-spacing: .25em;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: purple;
}
a:active {
    text-decoration: none;
    color: purple;
}
.container img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.hpbutton {
    position: relative;
    float: center;
    top: 50%;
    left: 50%;
    background-color: purple;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1.4em;
    padding: 15px; 
    letter-spacing: .25em;
}
.container2 {
    border: 3px solid purple;
    padding: 15px;
    background-color: palevioletred;
    opacity: 0.8;
}
#h3 {
    font-family: 'Luckiest Guy', cursive;
    color: purple;
    font-size: 2em;
    text-align: center;
}
.container2 p {
    font-family: cursive;
    font-size: 2em;
    color: white;
}
